/*============================================================================*\
  COLORS
\*============================================================================*/

$color-none: transparent;

$color-black: #22292f;
$color-grey-darkest: #3d4852;
$color-grey-darker: #606f7b;
$color-grey-dark: #8795a1;
$color-grey: #b8c2cc;
$color-grey-light: #dae1e7;
$color-grey-lighter: #f1f5f8;
$color-grey-lightest: #f8fafc;
$color-white: #ffffff;

$color-red-darkest: #3b0d0c;
$color-red-darker: #621b18;
$color-red-dark: #cc1f1a;
$color-red: #e3342f;
$color-red-light: #ef5753;
$color-red-lighter: #f9acaa;
$color-red-lightest: #fcebea;

$color-orange-darkest: #462a16;
$color-orange-darker: #613b1f;
$color-orange-dark: #de751f;
$color-orange: #f6993f;
$color-orange-light: #faad63;
$color-orange-lighter: #fcd9b6;
$color-orange-lightest: #fff5eb;

$color-yellow-darkest: #453411;
$color-yellow-darker: #684f1d;
$color-yellow-dark: #f2d024;
$color-yellow: #ffed4a;
$color-yellow-light: #fff382;
$color-yellow-lighter: #fff9c2;
$color-yellow-lightest: #fcfbeb;

$color-green-darkest: #0f2f21;
$color-green-darker: #1a4731;
$color-green-dark: #1f9d55;
$color-green: #38c172;
$color-green-light: #51d88a;
$color-green-lighter: #a2f5bf;
$color-green-lightest: #e3fcec;

$color-teal-darkest: #0d3331;
$color-teal-darker: #20504f;
$color-teal-dark: #38a89d;
$color-teal: #4dc0b5;
$color-teal-light: #64d5ca;
$color-teal-lighter: #a0f0ed;
$color-teal-lightest: #e8fffe;

$color-blue-darkest: #12283a;
$color-blue-darker: #1c3d5a;
$color-blue-dark: #2779bd;
$color-blue: #3490dc;
$color-blue-light: #6cb2eb;
$color-blue-lighter: #bcdefa;
$color-blue-lightest: #eff8ff;

$color-indigo-darkest: #191e38;
$color-indigo-darker: #2f365f;
$color-indigo-dark: #5661b3;
$color-indigo: #6574cd;
$color-indigo-light: #7886d7;
$color-indigo-lighter: #b2b7ff;
$color-indigo-lightest: #e6e8ff;

$color-purple-darkest: #21183c;
$color-purple-darker: #382b5f;
$color-purple-dark: #794acf;
$color-purple: #9561e2;
$color-purple-light: #a779e9;
$color-purple-lighter: #d6bbfc;
$color-purple-lightest: #f3ebff;

$color-pink-darkest: #451225;
$color-pink-darker: #6f213f;
$color-pink-dark: #eb5286;
$color-pink: #f66d9b;
$color-pink-light: #fa7ea8;
$color-pink-lighter: #ffbbca;
$color-pink-lightest: #ffebef;
