/*============================================================================*\
  STACKING-ORDER (Z-INDEX)
\*============================================================================*/

$stacking-order-auto = auto;
$stacking-order-0 = 0;
$stacking-order-10 = 10;
$stacking-order-20 = 20;
$stacking-order-30 = 30;
$stacking-order-40 = 40;
$stacking-order-50 = 50;
