// TODO: work in the rules from Butterick's Practical Typography
// https://practicaltypography.com/

/*============================================================================*\
  FONT STACKS
\*============================================================================*/

$font-sans-stack = "system-ui", "BlinkMacSystemFont", "-apple-system",
  "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
  "Droid Sans", "Helvetica Neue", "sans-serif";

$font-serif-stack = "Constantia", "Lucida Bright", "Lucidabright",
  "Lucida Serif", "Lucida", "DejaVu Serif", "Bitstream Vera Serif",
  "Liberation Serif", "Georgia", "serif";

$font-mono-stack = "Menlo", "Monaco", "Consolas", "Liberation Mono",
  "Courier New", "monospace";

font-sans() {
  font-family: $font-sans-stack;
}
  
font-serif() {
  font-family: $font-serif-stack;
}
  
font-mono() {
  font-family: $font-mono-stack;
}


/*============================================================================*\
  TEXT SIZES
\*============================================================================*/

$text-xs = 0.75rem;     // 12px
$text-sm = 0.875rem;    // 14px
$text-md = 1rem;        // 16px
$text-lg = 1.125rem;    // 18px
$text-xl = 1.25rem;     // 20px
$text-xxl = 1.5rem;     // 24px
$text-xxxl = 1.875rem;  // 30px
$text-xxxxl = 2.25rem;  // 36px
$text-xxxxxl = 3rem;    // 48px

/*============================================================================*\
  FONT WEIGHTS
\*============================================================================*/

$font-weight-hairline = 100;
$font-weight-thin = 200;
$font-weight-light = 300;
$font-weight-normal = 400;
$font-weight-medium = 500;
$font-weight-semibold = 600;
$font-weight-bold = 700;
$font-weight-extrabold = 800;
$font-weight-black = 900;


/*============================================================================*\
  LEADING (LINE SPACING)
\*============================================================================*/

$leading-none = 1;
$leading-tight = 1.15;
$leading-normal = 1.3;
$leading-loose = 2;

/*============================================================================*\
  LINE LENGTH
  From Butterick's Practical Typography
  https://practicaltypography.com/line-length.html
\*============================================================================*/

$line-length-min = 45ch;
$line-length-max = 90ch;

/*============================================================================*\
  TRACKING (LETTER SPACING)
\*============================================================================*/

$tracking-tight = -0.05em;
$tracking-normal = 0;
$tracking-wide = 0.05em;
